<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_b_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,94},{71,15}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{71,15}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_b_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,75},{71,17}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{71,17}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_b_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,217},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_b_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,244},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>block_b_6_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,338},{43,43}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{43,43}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>block_b_7_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{65,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_b_7_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,383},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>block_door_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,491},{63,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,12}}</string>
                <key>sourceSize</key>
                <string>{63,12}</string>
            </dict>
            <key>block_door_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,467},{25,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{25,21}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>block_door_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,466},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{31,23}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>block_door_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,159},{49,35}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>block_door_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,418},{47,31}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{47,31}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>block_door_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,293},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>block_door_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,126},{33,31}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{33,31}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>block_m_11_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_m_12_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_11_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_12_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,198},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_13_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,146},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_14_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,75},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_21_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,288},{67,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_21_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,75},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>block_t_31_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,269},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_41_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,127},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_51_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,338},{67,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_51_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,501},{7,7}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{7,7}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_51_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,501},{7,7}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{7,7}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_51_c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,227},{33,15}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{33,15}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_t_51_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,210},{33,15}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{33,15}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_t_51_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,418},{25,7}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{25,7}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_t_61_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{65,69}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_61_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,490},{9,9}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{9,9}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_61_c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,491},{17,17}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{17,17}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_t_61_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{17,17}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{17,17}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>block_t_62_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,405},{59,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{59,61}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_63_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,357},{59,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{59,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>block_t_71_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>block_t_72_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{71,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>block_t_73_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,85}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,111},{14,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,71}}</string>
                <key>sourceSize</key>
                <string>{14,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Blocks.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6e6a53b5c600e6b237bcb7aa8652601:1/1$</string>
            <key>textureFileName</key>
            <string>Blocks.pvr.ccz</string>
        </dict>
    </dict>
</plist>
