<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_bomb_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{71,71}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{85,85}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,259},{93,101}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{93,101}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{97,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{97,101}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,95},{87,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{87,109}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{89,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{89,109}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{91,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{91,113}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,115}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>normal_bomb_effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,184},{73,103}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{73,103}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal_bomb_effect.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec492a470ec8a66be84fda630c3c4c4c:1/1$</string>
            <key>textureFileName</key>
            <string>normal_bomb_effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
