<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gem_special_area_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,256},{168,173}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{168,173}}</string>
                <key>sourceSize</key>
                <string>{334,331}</string>
            </dict>
            <key>gem_special_area_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,327},{248,265}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,31},{248,265}}</string>
                <key>sourceSize</key>
                <string>{334,331}</string>
            </dict>
            <key>gem_special_area_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{326,323}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{326,323}}</string>
                <key>sourceSize</key>
                <string>{334,331}</string>
            </dict>
            <key>gem_special_h_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{639,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{639,79}}</string>
                <key>sourceSize</key>
                <string>{639,115}</string>
            </dict>
            <key>gem_special_h_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{465,115}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{465,115}}</string>
                <key>sourceSize</key>
                <string>{639,115}</string>
            </dict>
            <key>gem_special_h_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{639,87}}</string>
                <key>sourceSize</key>
                <string>{639,115}</string>
            </dict>
            <key>gem_special_h_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{639,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{639,55}}</string>
                <key>sourceSize</key>
                <string>{639,115}</string>
            </dict>
            <key>gem_special_h_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{639,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{639,25}}</string>
                <key>sourceSize</key>
                <string>{639,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>special_bomb_effect.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ffcfccc03df589e612f11e526b7463:1/1$</string>
            <key>textureFileName</key>
            <string>special_bomb_effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
